{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Café Mapachitos</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>

<body>

<header class="header">
    <h1 class="titulo-principal">Bienvenido a Café Mapachitos</h1>

    <nav class="menu">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'productos' %}">Productos</a>
        <a href="{% url 'autos' %}">Autos</a>
        <a href="{% url 'eventos' %}">Eventos</a>
        <a href="{% url 'sucursales' %}">Sucursales</a>
        <a href="{% url 'comentarios' %}">Comentarios</a>
        <a href="/admin/login/" class="login-btn">Iniciar sesión</a>
    </nav>  
</header>
    
<main class="contenido">

    <div class="imagenes-banner">
        <img src="{% static 'img/banner1.png' %}" alt="Banner principal Cafetería" class="banner-img">
    </div>

    <section class="intro">
        <h2>Tu espacio para disfrutar</h2>
        <p>
            Bienvenido a Café Mapachitos, un rinconcito creado para disfrutar café, postres,
            buena compañía y experiencias únicas.
        </p>
    </section>


        <div class="contenedor-lateral">
                <aside class="sidebar">
                <img src="{% static 'img/mapachito.jpeg' %}" alt="Mapachito" class="sidebar-img">
                <img src="{% static 'img/mapachito2.jpeg' %}" alt="Mapachito2" class="sidebar-img">
                <img src="{% static 'img/mapachito3.jpeg' %}" alt="Mapachito3" class="sidebar-img">
                <p class="sidebar-text">
                    En Café Mapachitos siempre te espera una taza de felicidad.  
                    Disfruta del mejor café acompañado de nuestro mapache favorito.
                </p>
                </aside>
                
        </div>
    

        <section class="ofertas">
            <h2>Ofertas del Día</h2>

            <div class="oferta">
                <div class="oferta-texto">
                    <h3>Café Latte vainilla + Galleta</h3>
                    <p>Solo los sábados a $45 MXN</p>
                </div>
                <img src="{% static 'img/oferta1.png' %}" alt="Oferta 1" class="oferta-img">
            </div>

            <div class="oferta">
                <div class="oferta-texto">
                    <h3>Capuchino Grande</h3>
                    <p>2x1 en horario matutino de 8 a 11 AM</p>
                </div>
                <img src="{% static 'img/oferta2.png' %}" alt="Oferta 2" class="oferta-img">
            </div>

            <div class="oferta">
                <div class="oferta-texto">
                    <h3>Frappé de Caramelo</h3>
                    <p>Los miercoles a precio especial: $39 MXN</p>
                </div>
                <img src="{% static 'img/oferta3.png' %}" alt="Oferta 3" class="oferta-img">
            </div>

            <div class="oferta">
                <div class="oferta-texto">
                    <h3>Descuento para estudiantes</h3>
                    <p>Combo de cafe americano y un croissant a precio especial, para aquellos con credencial, a solo $45 </p>
                </div>
                <img src="{% static 'img/oferta4.png' %}" alt="Oferta 4" class="oferta-img">

        </section>

        <section class="cards">

        <div class="card">
            <h3>Productos</h3>
            <p>Conoce nuestro menú de bebidas y alimentos.</p>
            <a href="{% url 'productos' %}" class="boton">Ver productos</a>
        </div>

        <div class="card">
            <h3>Autos</h3>
            <p>Consulta los autos usados para publicidad o eventos.</p>
            <a href="{% url 'autos' %}" class="boton">Ver autos</a>
        </div>

        <div class="card">
            <h3>Eventos</h3>
            <p>Descubre las actividades especiales y promociones.</p>
            <a href="{% url 'eventos' %}" class="boton">Ver eventos</a>
        </div>

        <div class="card">
            <h3>Sucursales</h3>
            <p>Encuentra tu sucursal más cercana.</p>
            <a href="{% url 'sucursales' %}" class="boton">Ver sucursales</a>
        </div>

        <div class="card">
            <h3>Comentarios</h3>
            <p>Comparte tu experiencia con nosotros.</p>
            <a href="{% url 'comentarios' %}" class="boton">Comentar</a>
        </div>
</main>
<footer class="footer">
    <p>© 2025 Café Mapachitos - Proyecto PIA</p>
</footer>
</body>
</html>
