{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sucursales - Café Mapachitos</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>

<body>

<header class="header">
    <h1 class="titulo-principal">Sucursales Café Mapachitos</h1>

    <nav class="menu">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'productos' %}">Productos</a>
        <a href="{% url 'autos' %}">Autos</a>
        <a href="{% url 'eventos' %}">Eventos</a>
        <a href="{% url 'sucursales' %}">Sucursales</a>
        <a href="{% url 'comentarios' %}">Comentarios</a>
        <a href="/admin/login/" class="login-btn">Iniciar sesión</a>
    </nav>
</header>

<main class="contenido">


        <div class="sucursales-con-imagenes">

            <div class="lado-img">  
                <img src="{% static 'img/mapachito4.jpeg' %}" alt="Decoración" class="img-lateral">
            </div>

            <div class="centro-texto">
                <h2 class="subtitulo">Nuestras Sucursales</h2>
                <p class="descripcion-menu">
                    Encuentra la sucursal Café Mapachitos más cercana para disfrutar de tu bebida favorita.
                </p>
            </div>
            <div class="lado-img">
                <img src="{% static 'img/mapachito5.jpeg' %}" alt="Decoración" class="img-lateral">
            </div>

        </div>


    <section class="productos-grid">

        {% for sucursal in sucursales %}
        <div class="producto-card">

            <h3>{{ sucursal.nombre }}</h3>

            <p class="producto-descripcion">
                <strong>Dirección:</strong><br>
                {{ sucursal.direccion }}
            </p>

            {% if sucursal.horario %}
            <p class="producto-descripcion">
                <strong>Horario:</strong><br>
                {{ sucursal.horario }}
            </p>
            {% endif %}

        </div>
        {% empty %}
            <p>No hay sucursales registradas aún.</p>
        {% endfor %}

    </section>
    <section>
        <h2 class="subtitulo">Estamos en expansión y próximas aperturas para llevar el sabor de Mapachitos a mas personas</h2>
    </section>
</main>

<footer class="footer">
    <p>© 2025 Café Mapachitos - Proyecto PIA</p>
</footer>

</body>
</html>
